<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 基础设置 -->
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<!-- 别名定义 -->
 	<typeAliases>
		<typeAlias alias="GongTuData" type="com.jianghan.olds.entity.GongTuData" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/gongtudata.xml" />
	</mappers>

</configuration>  

